# Docker Compose file for Prowlarr and qBittorrent services
# This setup uses a reverse proxy network for routing.
# This reverse proxy is provided by the server stack for the current branch.
#
# Required environment variables:
#  DOMAIN_NAME - The domain name for accessing the services.
version: '3.8'

services:
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: unless-stopped
    depends_on:
      - qbittorrent
    volumes:
      - prowlarr_config:/config
    environment:
      - TZ=America/Chicago
    networks:
      - reverse_proxy_network

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - TZ=America/Chicago
    volumes:
      - qbittorrent_config:/config
      - /mnt/media/Torrent:/downloads
    networks:
      - reverse_proxy_network
    labels:
      caddy: downloads.tail.${DOMAIN_NAME:?"DOMAIN_NAME is not set"}
      caddy.redir: /indexers /indexers/
      caddy.reverse_proxy: /indexers/* http://prowlarr:9696
      caddy.reverse_proxy_0: "{{upstreams 8080}}"
      caddy.tls.protocols: tls1.3

volumes:
  prowlarr_config:
  qbittorrent_config:

networks:
  reverse_proxy_network:
    external: true