services:
  migrations:
    image: postgres:18-alpine
    container_name: authentik-migrations
    restart: no
    command: ["sh", "-c", "sleep 10; /init/init-db.sh"]
    volumes:
      - ./init:/init:ro
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_DB_PASSWORD: ${AUTHENTIK_DB_PASSWORD}
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  worker:
    image: ghcr.io/goauthentik/server:2025.10.1
    container_name: authentik-worker
    restart: unless-stopped
    command: worker
    depends_on:
      - migrations
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_DB_PASSWORD}
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - authentik-media:/media
      - authentik-certs:/certs
      - authentik-templates:/templates
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  server:
    image: ghcr.io/goauthentik/server:2025.10.1
    container_name: authentik-server
    restart: unless-stopped
    command: server
    depends_on:
      - migrations
      - worker
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_DB_PASSWORD}
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    volumes:
      - authentik-media:/media
      - authentik-templates:/templates
    networks:
      - backend_default
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.authentik.rule=Host(`auth.${DOMAIN_NAME}`)
      - traefik.http.routers.authentik.entrypoints=websecure
      - traefik.http.routers.authentik.tls=true
      - traefik.http.routers.authentik.tls.certresolver=le
      - traefik.http.services.authentik.loadbalancer.server.port=9000
volumes:
  authentik-media:
  authentik-templates:
  authentik-certs:
networks:
  backend_default:
    external: true
  core_traefik-public:
    external: true
