services:
  traefik:
    image: traefik:latest
    restart: always
    container_name: traefik
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      # - --entrypoints.websecure.transport.respondingTimeouts.readTimeout=24h # For nextcloud long uploads
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.traefik.address=:8080 # For the dashboard/API
      # Docker provider setup
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=core_traefik-public
      # API and Dashboard
      - --api.dashboard=true
      - --api.insecure=false # WARNING: Do not use in production without proper BasicAuth middleware
      # TODO: Check this is working properly (TLS enabled on all domains not just cloudflare but tailscale custom endpoints on domain name as well)
      # ACME / Let's Encrypt setup (Optional)
      - --certificatesresolvers.cf-ts.acme.email=admin@${DOMAIN_NAME}
      - --certificatesresolvers.cf-ts.acme.storage=/acme/acme.json
      - --certificatesresolvers.cf-ts.acme.dnschallenge=true
      - --certificatesresolvers.cf-ts.acme.dnschallenge.provider=cloudflare
      # Observability
      - --log.level=INFO # Set the Log Level e.g INFO, DEBUG
      - --accesslog=true # Enable Access Logs
      - --metrics.prometheus=true # Enable Prometheus
      # Optional: Enable redirect middleware for all HTTP to HTTPS traffic
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
    environment:
      - CLOUDFLARE_DNS_API_TOKEN=${CF_API_TOKEN} # Cloudflare API key for DNS challenge
    volumes:
      # Mount the Docker socket for service discovery (Traefik reads container labels)
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Mount the ACME file for persistent certificates
      - traefik-certs:/acme
    networks:
      - core_traefik-public
    ports:
      - 80:80 # The HTTP port
      - 443:443 # The HTTPS port
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`dashboard.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=websecure
      - traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.routers.traefik.middlewares=traefik-https-redirect
      - traefik.http.routers.traefik-secure.rule=Host(`dashboard.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.traefik-secure.entrypoints=websecure
      - traefik.http.routers.traefik-secure.tls=true
      - traefik.http.routers.traefik-secure.tls.certresolver=le-ts
      - traefik.http.routers.traefik-secure.service=api@internal
      - traefik.http.middlewares.traefik-auth.basicauth.users=admin:$2y$05$/UrxciXCv1x57qFZhDwBLOT2FkMjn2JoLW4yoXmKbQgbawFB8AJkq
      - traefik.http.routers.traefik-secure.middlewares=traefik-auth
networks:
  core_traefik-public:
    name: core_traefik-public
volumes:
  traefik-certs:
