services:
  postgres:
    image: postgres:18
    secrets: 
      - postgres_password
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    networks:
      - backend_default
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  redis:
    image: library/redis:latest
    command: --save 60 1 --loglevel warning
    volumes:
      - redis-data:/data
    networks:
      - backend_default
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

volumes:
  postgres-data:
  redis-data:

networks:
  backend_default:
    external: true