services:
  postgres:
    image: postgres:18
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s # Give the DB time to initialize before checking
    secrets: 
      - postgres_password
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    networks:
      - default
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  redis:
    image: library/redis:latest
    command: --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
      - redis-data:/data
    networks:
      - default
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  adminer:
    image: adminer:latest
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    networks:
      - default
      - portainer_traefik-public
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.adminer.rule=Host(`db.admin.${DOMAIN_NAME}`)
        - traefik.http.routers.adminer.rule=Host(`db.admin.${DOMAIN_NAME}`)
        - traefik.http.routers.adminer.entrypoints=websecure
        - traefik.http.routers.adminer.tls=true
        - traefik.http.routers.adminer.tls.certresolver=le

        - traefik.http.services.adminer.loadbalancer.server.port=8080
    
secrets:
  postgres_password:
    environment: POSTGRES_PASSWORD

volumes:
  postgres-data:
  redis-data:

networks:
  default:
    driver: overlay
    attachable: true
  portainer_traefik-public:
    external: true