services:
  portainer:
    image: portainer/portainer-ee:latest
    restart: unless-stopped
    container_name: portainer
    command: -H tcp://portainer-agent:9001 --tlsskipverify
    depends_on:
      agent:
        condition: service_started
    volumes:
      - portainer-data:/data
    networks:
      - agent-network
      - proxy_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.portainer.rule=Host(`admin.${DOMAIN_NAME}`)
      - traefik.http.routers.portainer.entrypoints=websecure
      - traefik.http.routers.portainer.tls=true
      - traefik.http.routers.portainer.tls.certresolver=le
      - traefik.http.services.portainer.loadbalancer.server.port=9000
  agent:
    image: portainer/agent:lts
    container_name: portainer-agent
    restart: always
    depends_on:
      - watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - agent-network
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    command: --cleanup --interval 300 # TODO: check this
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
networks:
  agent-network:
  proxy_default:
    external: true
volumes:
  portainer-data:
