version: '3.8'

services:
  # prometheus:
  #   image: prom/prometheus:v3.7.3
  #   command: --config.file=/etc/prometheus/prometheus.yml --web.listen-address=:9090
  #   volumes:
  #     - prometheus_data:/prometheus
  #   configs:
  #     - source: prometheus_config
  #       target: /etc/prometheus/prometheus.yml
  #   networks:
  #     - default
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:>
  #         - node.role == manager

  # loki:
  #   image: grafana/loki:3.5
  #   command: -config.file=/etc/loki/config.yml
  #   configs:
  #     - source: loki_config
  #       target: /etc/loki/config.yml
  #   networks:
  #     - default
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager

  grafana:
    image: grafana/grafana:12.4.0-19309364910
    environment:     # Required if Grafana is running behind a reverse proxy
      GF_SERVER_ROOT_URL: https://monitoring.admin.${DOMAIN_NAME}
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - default
      - reverse-proxy_public
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.grafana.rule=Host(`monitoring.admin.${DOMAIN_NAME}`)
        - traefik.http.routers.grafana.entrypoints=websecure
        - traefik.http.routers.grafana.tls=true
        - traefik.http.routers.grafana.tls.certresolver=le

        - traefik.http.services.grafana.loadbalancer.server.port=3000

# configs:
#   prometheus_config:
#     file: ./prometheus.yml
#   loki_config:
#     file: ./loki.yml

volumes:
  grafana_data:

networks:
  reverse-proxy_public:
    external: true
  default:
    driver: overlay
    attachable: true
