services:
  postgres:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  mariadb:
    image: mariadb:12
    container_name: mariadb
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-p\"${MARIADB_PASSWORD}\""]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MARIADB_PASSWORD}
    networks:
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  redis:
    image: library/redis:latest
    container_name: redis
    restart: unless-stopped
    command: --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    volumes:
      - redis-data:/data
    networks:
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    networks:
      - default
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.adminer.rule=Host(`db.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.adminer.entrypoints=websecure
      - traefik.http.routers.adminer.tls=true
      - traefik.http.routers.adminer.tls.certresolver=cf-ts
      - traefik.http.services.adminer.loadbalancer.server.port=8080
volumes:
  postgres-data:
  mariadb-data:
  redis-data:
networks:
  default:
  core_traefik-public:
    external: true
