# TODO: Build health checks for all services besides migrations
x-common:
  funkwhale-config: &funkwhale-config
    FUNKWHALE_HOSTNAME: "jukebox.ts.${DOMAIN_NAME}"
    FUNKWHALE_PROTOCOL: "https"
    DATABASE_URL: "postgres://funkwhale:${FUNKWHALE_DB_PASSWORD}@postgres:5432/funkwhale"
    CACHE_URL: "redis://redis:6379/0"
    DJANGO_SECRET_KEY: "${DJANGO_SECRET_KEY}"
    DISABLE_PASSWORD_VALIDATORS: false
    MEDIA_ROOT: "/srv/funkwhale/data/media"
    MUSIC_DIRECTORY_PATH: "/srv/funkwhale/data/music"
  typesense-config: &typesense-config
    TYPESENSE_API_KEY: "${TYPESENSE_API_KEY}"
services:
  typesense:
    image: typesense/typesense:30.0.rca33
    container_name: funkwhale-typesense
    restart: unless-stopped
    command: --data-dir /data --enable-cors
    volumes:
      - typesense-data:/data
    environment:
      !!merge <<: *typesense-config
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  migrations:
    image: postgres:18-alpine
    container_name: funkwhale-migrations
    restart: no
    command: ["sh", "-c", "/init/init-db.sh"]
    volumes:
      - ./init:/init:ro
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      FUNKWHALE_DB_PASSWORD: "${FUNKWHALE_DB_PASSWORD}"
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  celeryworker:
    image: funkwhale/api:latest
    container_name: funkwhale-celeryworker
    restart: unless-stopped
    depends_on:
      migrations:
        condition: service_completed_successfully
      typesense:
        condition: service_started
    command:
      - celery
      - --app=funkwhale_api.taskapp
      - worker
      - --loglevel=INFO
      - --concurrency=0
    user: "995"
    volumes:
      - /mnt/data/media/Music:/srv/funkwhale/data/music
      - funkwhale-media:/srv/funkwhale/data/media
    environment:
      !!merge <<: [*funkwhale-config, *typesense-config]
      C_FORCE_ROOT: true
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  celerybeat:
    image: funkwhale/api:latest
    container_name: funkwhale-celerybeat
    restart: no # unless-stopped
    depends_on:
      celeryworker:
        condition: service_started
    environment:
      !!merge <<: [*funkwhale-config, *typesense-config]
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  api:
    image: funkwhale/api:latest
    container_name: funkwhale-api
    restart: no # unless-stopped
    depends_on:
      celerybeat:
        condition: service_started
    volumes:
      - funkwhale-media:/srv/funkwhale/data/media
      - funkwhale-static:/srv/funkwhale/data/static
    environment:
      !!merge <<: [*funkwhale-config, *typesense-config]
    networks:
      - backend_default
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  front:
    image: funkwhale/front:latest
    restart: no # unless-stopped
    depends_on:
      api:
        condition: service_started
    volumes:
      - funkwhale-media:/srv/funkwhale/data/media:ro
      - funkwhale-static:/usr/share/nginx/html/staticfiles:ro
    environment:
      !!merge <<: *funkwhale-config
      NGINX_MAX_BODY_SIZE: 100M
    networks:
      - default
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.funkwhale.rule=Host(`jukebox.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.funkwhale.entrypoints=websecure
      - traefik.http.routers.funkwhale.tls=true
      - traefik.http.routers.funkwhale.tls.certresolver=cf-ts
      - traefik.http.services.funkwhale.loadbalancer.server.port=80
volumes:
  funkwhale-media:
  funkwhale-static:
  typesense-data:
networks:
  backend_default:
    external: true
  default:
  core_traefik-public:
    external: true
