version: 3.8

services:
  # prometheus:
  #   image: prom/prometheus:v3.7.3
  #   command: --config.file=/etc/prometheus/prometheus.yml --web.listen-address=:9090
  #   volumes:
  #     - prometheus_data:/prometheus
  #   configs:
  #     - source: prometheus_config
  #       target: /etc/prometheus/prometheus.yml
  #   networks:
  #     - grafana_monitoring
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager

  # loki:
  #   image: grafana/loki:3.5
  #   command: -config.file=/etc/loki/config.yml
  #   configs:
  #     - source: loki_config
  #       target: /etc/loki/config.yml
  #   networks:
  #     - grafana_monitoring
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager

  grafana:
    image: grafana/grafana:12.4.0-19309364910
    environment:
      GF_AUTH_GENERIC_OAUTH_ENABLED: true
      GF_AUTH_GENERIC_OAUTH_NAME: authentik
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: file:///run/secrets/grafana_oauth_client_id
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: file:///run/secrets/grafana_oauth_client_secret
      GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.${DOMAIN_NAME}/application/o/authorize/
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.${DOMAIN_NAME}/application/o/token/
      GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.${DOMAIN_NAME}/application/o/userinfo/
      GF_AUTH_SIGNOUT_REDIRECT_URL: https://auth.${DOMAIN_NAME}/application/o/grafana-oauth/end-session/
      # Optionally enable auto-login (bypasses Grafana login screen)
      GF_AUTH_OAUTH_AUTO_LOGIN: true
      # Optionally map user groups to Grafana roles
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
      # Required if Grafana is running behind a reverse proxy
      GF_SERVER_ROOT_URL: https://grafana.company
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - grafana_monitoring
      - portainer_traefik-public
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.grafana.rule=Host(`monitoring.admin.${DOMAIN_NAME}`)
        - traefik.http.routers.grafana.entrypoints=websecure
        - traefik.http.routers.grafana.tls=true
        - traefik.http.routers.grafana.tls.certresolver=le

        - traefik.http.services.grafana.loadbalancer.server.port=3000

# configs:
#   prometheus_config:
#     file: ./prometheus.yml
#   loki_config:
#     file: ./loki.yml

volumes:
  grafana_data:

networks:
  grafana_monitoring:
    external: true
  portainer_traefik-public:
    external: true
