version: "3.8"

services:
  migrations:
    image: postgres:18-alpine
    command: ["sh", "-c", "sleep 10; /init/init-db.sh"]
    volumes:
      - ./init:/init:ro
    secrets:
      - postgres_password
      - authentik_db_owner_password
    networks:
      - backend_default
    deploy:
      replicas: 1
      restart_policy:
        condition: none

  server:
    image: ghcr.io/goauthentik/server:2025.10.1
    command: server
    depends_on:
      - migrations
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: $$(cat /run/secrets/authentik_db_owner_password)
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_SECRET_KEY: $$(cat /run/secrets/authentik_secret_key)
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
    secrets:
      - authentik_db_owner_password
      - authentik_secret_key
    ports:
      - 9000:9000
      - 9443:9443
    networks:
      - backend_default
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  worker:
    image: ghcr.io/goauthentik/server:2025.10.1
    command: worker
    depends_on:
      - migrations
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: $$(cat /run/secrets/authentik_db_owner_password)
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_SECRET_KEY: $$(cat /run/secrets/authentik_secret_key)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./media:/media
      - ./certs:/certs
      - ./custom-templates:/templates
    secrets:
      - authentik_db_owner_password
      - authentik_secret_key
    networks:
      - backend_default
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

secrets:
  postgres_password:
    external: true
  authentik_db_owner_password:
    external: true

networks:
  backend_default:
    external: true
