services:
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: unless-stopped
    volumes:
      - sonarr-config:/config
      - /mnt/data/media/Shows:/shows
      - /mnt/data/media/Torrent:/downloads
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`pvr.tail.${DOMAIN_NAME}`) && PathPrefix(`/shows`)
      - traefik.http.routers.sonarr.entrypoints=websecure
      - traefik.http.routers.sonarr.tls=true
      - traefik.http.routers.sonarr.tls.certresolver=le
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: unless-stopped
    volumes:
      - radarr-config:/config
      - /mnt/data/media/Movies:/movies
      - /mnt/data/media/Torrent:/downloads
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.rule=Host(`pvr.tail.${DOMAIN_NAME}`) && PathPrefix(`/movies`)
      - traefik.http.routers.radarr.entrypoints=websecure
      - traefik.http.routers.radarr.tls=true
      - traefik.http.routers.radarr.tls.certresolver=le
      - traefik.http.services.radarr.loadbalancer.server.port=7878
  jellyfin:
    image: linuxserver/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - jellyfin-config:/config
      - /mnt/data/media/Movies:/movies
      - /mnt/data/media/Shows:/shows
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`pvr.tail.${DOMAIN_NAME}`) && PathPrefix(`/watch`)
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.routers.jellyfin.tls=true
      - traefik.http.routers.jellyfin.tls.certresolver=le
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
  jellyseerr:
    image: fallenbagel/jellyseerr
    container_name: jellyseerr
    restart: unless-stopped
    depends_on:
      - sonarr
      - radarr
      - jellyfin
    volumes:
      - jellyseerr-config:/app/config
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyseerr.rule=Host(`pvr.tail.${DOMAIN_NAME}`)
      - traefik.http.routers.jellyseerr.entrypoints=websecure
      - traefik.http.routers.jellyseerr.tls=true
      - traefik.http.routers.jellyseerr.tls.certresolver=le
      - traefik.http.services.jellyseerr.loadbalancer.server.port=5055
volumes:
  sonarr-config:
  radarr-config:
  jellyfin-config:
  jellyseerr-config:
networks:
  proxy_default:
    external: true
