services:
  qbittorrent:
    image: linuxserver/qbittorrent
    environment:
      - TZ=America/Chicago
    volumes:
      - qbittorrent-config:/config
      - /mnt/media/Torrent:/downloads
    networks:
      - proxy_public
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.qbittorrent.rule=Host(`downloads.tail.${DOMAIN_NAME}`)
        - traefik.http.routers.qbittorrent.entrypoints=websecure
        - traefik.http.routers.qbittorrent.tls=true
        - traefik.http.routers.qbittorrent.tls.certresolver=le

        - traefik.http.services.qbittorrent.loadbalancer.server.port=8080

  prowlarr:
    image: linuxserver/prowlarr
    depends_on:
      - qbittorrent
    volumes:
      - prowlarr-config:/config
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_public
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.prowlarr.rule=Host(`downloads.tail.${DOMAIN_NAME}`) && PathPrefix(`/indexers`)
        - traefik.http.routers.prowlarr.entrypoints=websecure
        - traefik.http.routers.prowlarr.tls=true
        - traefik.http.routers.prowlarr.tls.certresolver=le

        - traefik.http.services.prowlarr.loadbalancer.server.port=9696

  sonarr:
    image: linuxserver/sonarr
    depends_on:
      - qbittorrent
      - prowlarr
    volumes:
      - sonarr-config:/config
      - /mnt/media/Shows:/shows
      - /mnt/media/Torrent:/downloads
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_public
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.sonarr.rule=Host(`pvr.tail.${DOMAIN_NAME}`) && PathPrefix(`/shows`)
        - traefik.http.routers.sonarr.entrypoints=websecure
        - traefik.http.routers.sonarr.tls=true
        - traefik.http.routers.sonarr.tls.certresolver=le

        - traefik.http.services.sonarr.loadbalancer.server.port=8989

  radarr:
    image: linuxserver/radarr
    depends_on:
      - qbittorrent
      - prowlarr
    volumes:
      - radarr-config:/config
      - /mnt/media/Movies:/movies
      - /mnt/media/Torrent:/downloads
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_public
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.radarr.rule=Host(`pvr.tail.${DOMAIN_NAME}`) && PathPrefix(`/movies`)
        - traefik.http.routers.radarr.entrypoints=websecure
        - traefik.http.routers.radarr.tls=true
        - traefik.http.routers.radarr.tls.certresolver=le

        - traefik.http.services.radarr.loadbalancer.server.port=7878

  jellyfin:
    image: linuxserver/jellyfin
    volumes:
      - jellyfin-config:/config
      - /mnt/media/Movies:/movies
      - /mnt/media/Shows:/shows
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_public
    ports:
      - target: 8096
        published: 8096
        protocol: tcp
        mode: host
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.jellyfin.rule=Host(`pvr.tail.${DOMAIN_NAME}`) && PathPrefix(`/watch`)
        - traefik.http.routers.jellyfin.entrypoints=websecure
        - traefik.http.routers.jellyfin.tls=true
        - traefik.http.routers.jellyfin.tls.certresolver=le

        - traefik.http.services.jellyfin.loadbalancer.server.port=8096

  jellyseerr:
    image: fallenbagel/jellyseerr
    depends_on:
      - sonarr
      - radarr
      - jellyfin
    volumes:
      - jellyseerr-config:/app/config
    environment:
      - TZ=America/Chicago
    networks:
      - proxy_public
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true

        - traefik.http.routers.jellyseerr.rule=Host(`pvr.tail.${DOMAIN_NAME}`)
        - traefik.http.routers.jellyseerr.entrypoints=websecure
        - traefik.http.routers.jellyseerr.tls=true
        - traefik.http.routers.jellyseerr.tls.certresolver=le

        - traefik.http.services.jellyseerr.loadbalancer.server.port=5055

volumes:
  prowlarr-config:
  qbittorrent-config:
  sonarr-config:
  radarr-config:
  jellyfin-config:
  jellyseerr-config:

networks:
  proxy_public:
    external: true
