services:
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - TZ=America/Chicago
    volumes:
      - qbittorrent-config:/config
      - /mnt/data/media/Torrent:/downloads
    networks:
      - core_traefik-public
    ports:
      - 6881:6881/tcp
      - 6881:6881/udp
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.rule=Host(`downloads.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.qbittorrent.entrypoints=websecure
      - traefik.http.routers.qbittorrent.tls=true
      - traefik.http.routers.qbittorrent.tls.certresolver=le
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8080
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: unless-stopped
    depends_on:
      - qbittorrent
    environment:
      - TZ=America/Chicago
    volumes:
      - prowlarr-config:/config
    networks:
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`downloads.admin.ts.${DOMAIN_NAME}`) && PathPrefix(`/indexers`)
      - traefik.http.routers.prowlarr.entrypoints=websecure
      - traefik.http.routers.prowlarr.tls=true
      - traefik.http.routers.prowlarr.tls.certresolver=le
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
volumes:
  prowlarr-config:
  qbittorrent-config:
networks:
  core_traefik-public:
    external: true
