x-common:
  server-config: &server-config
    TZ: America/Chicago
services:
  qbittorrent-tailscale:
    image: tailscale/tailscale:stable
    container_name: tailscale
    restart: unless-stopped
    hostname: qbittorrent
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://localhost:9002/healthz || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    devices:
      - /dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    environment:
      - TS_AUTH_ONCE=true
      - TS_ACCEPT_DNS=true
      - TS_USERSPACE=false
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_ENABLE_METRICS=true
      - TS_AUTHKEY=${TAILSCALE_AUTH_KEY}
    volumes:
      - tailscale-config:/var/lib/tailscale
    networks:
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    network_mode: "service:qbittorrent-tailscale"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      qbittorrent-tailscale:
        condition: service_healthy
    environment:
      !!merge <<: *server-config
    volumes:
      - qbittorrent-config:/config
      - /mnt/data/media/Torrent:/downloads
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.rule=Host(`downloads.admin.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.qbittorrent.entrypoints=websecure
      - traefik.http.routers.qbittorrent.tls=true
      - traefik.http.routers.qbittorrent.tls.certresolver=cf-ts
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8080
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9696 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      qbittorrent-tailscale:
        condition: service_healthy
    environment:
      !!merge <<: *server-config
    volumes:
      - prowlarr-config:/config
    networks:
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`downloads.admin.ts.${DOMAIN_NAME}`) && PathPrefix(`/indexers`)
      - traefik.http.routers.prowlarr.entrypoints=websecure
      - traefik.http.routers.prowlarr.tls=true
      - traefik.http.routers.prowlarr.tls.certresolver=cf-ts
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
volumes:
  tailscale-config:
  qbittorrent-config:
  prowlarr-config:
networks:
  core_traefik-public:
    external: true
