version: "3.2"

services:
  caddy:
    image: homeall/caddy-reverse-proxy-cloudflare:latest
    container_name: caddy
    restart: always
    volumes:
      - caddy_config:/data/caddy/
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    