services:
  migrations:
    image: mariadb:12
    container_name: pterodactyl-migrations
    restart: no
    command: ["sh", "-c", "/init/init-db.sh"]
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "mariadb", "-u", "pterodactyl", "-p\"${PTERODACTYL_DB_PASSWORD}\""]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    volumes:
      - ./init:/init:ro
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_PASSWORD}
      PTERODACTYL_DB_PASSWORD: ${PTERODACTYL_DB_PASSWORD}
    networks:
      - backend_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  pterodactyl-panel:
    image: ghcr.io/pterodactyl/panel:latest
    container_name: pterodactyl-panel
    restart: unless-stopped
    depends_on:
      migrations:
        condition: service_completed_successfully
    volumes:
      - /mnt/data/pterodactyl:/app/var
    environment:
      APP_URL: https://pterodactyl.ts.${DOMAIN_NAME}
      APP_ENV: production
      APP_ENVIRONMENT_ONLY: false
      # A list of valid timezones can be found here: http://php.net/manual/en/timezones.php
      APP_TIMEZONE: America/Chicago
      APP_SERVICE_AUTHOR: admin@${DOMAIN_NAME}
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_DRIVER: redis
      REDIS_HOST: redis
      DB_HOST: mariadb
      DB_PASSWORD: ${PTERODACTYL_DB_PASSWORD}
      TRUSTED_PROXIES: "*"
    networks:
      - backend_default
      - core_traefik-public
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.pterodactyl-panel.rule=Host(`games-server.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.pterodactyl-panel.entrypoints=web
      - traefik.http.middlewares.panel_https.redirectscheme.scheme=https
      - traefik.http.routers.pterodactyl_panel.middlewares=panel_https
      - traefik.http.routers.pterodactyl-panel-secure.rule=Host(`games-server.ts.${DOMAIN_NAME}`)
      - traefik.http.routers.pterodactyl-panel-secure.entrypoints=websecure
      - traefik.http.routers.pterodactyl-panel-secure.tls=true
      - traefik.http.routers.pterodactyl-panel-secure.tls.certresolver=cf-ts
      - traefik.http.services.pterodactyl-panel-secure.loadbalancer.server.port=80
networks:
  backend_default:
    external: true
  pterodactyl_wings:
  core_traefik-public:
    external: true
