version: "3.8"

services:
  portainer:
    image: portainer/portainer-ee:2.33.3
    command: -H tcp://tasks.agent:9001 --tlsskipverify
    depends_on:
      - agent
    volumes:
      - portainer-data:/data
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    networks:
      - agent-network
      - reverse-proxy_public
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
      labels:
        - traefik.enable=true

        - traefik.http.routers.portainer.rule=Host(`admin.${DOMAIN_NAME}`)
        - traefik.http.routers.portainer.entrypoints=websecure
        - traefik.http.routers.portainer.tls=true
        - traefik.http.routers.portainer.tls.certresolver=le

        - traefik.http.services.portainer.loadbalancer.server.port=9000

  agent:
    image: portainer/agent:lts
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - agent-network
    deploy:
      mode: global
      placement:
        constraints: [node.platform.os == linux]

  shepherd:
    image: containrrr/shepherd
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      placement:
        constraints:
          - node.role == manager

networks:
  agent-network:
    driver: overlay
  reverse-proxy_public:
    external: true

volumes:
  portainer-data:
