services:
  pterodactyl-wing:
    image: ghcr.io/pterodactyl/wings:latest
    container_name: pterodactyl-wing
    restart: unless-stopped
    environment:
      TZ: America/Chicago
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pterodactyl
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers
      - wings-config:/etc/pterodactyl
      - wings-logs:/var/log/pterodactyl
      - wings-data:/var/lib/pterodactyl
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    networks:
      - pterodactyl_wings
      - core_traefik-public
    labels:
      # HTTP
      - traefik.http.routers.pterodactyl_wings.rule=Host(`games.${DOMAIN_NAME}`)
      - traefik.http.routers.pterodactyl_wings.entrypoints=web
      - traefik.http.routers.pterodactyl_wings.middlewares=wings_https
      - traefik.http.middlewares.wings_https.redirectscheme.scheme=https
      # HTTPS
      - traefik.http.routers.pterodactyl_wings-https.rule=Host(`games.${DOMAIN_NAME}`)
      - traefik.http.routers.pterodactyl_wings-https.entrypoints=websecure
      - traefik.http.routers.pterodactyl_wings-https.tls=true
      - traefik.http.routers.pterodactyl_wings-https.tls.certresolver=cf-ts
      - traefik.http.services.pterodactyl_wings-https.loadbalancer.server.port=443
volumes:
  wings-config:
  wings-logs:
  wings-data:
networks:
  pterodactyl_wings:
  core_traefik-public:
    external: true
