services:
  # wolf-tailscale:
  #   image: tailscale/tailscale:stable
  #   container_name: wolf-tailscale
  #   restart: unless-stopped
  #   hostname: wolf
  #   healthcheck:
  #     test: ["CMD-SHELL", "wget --spider -q http://localhost:9002/healthz || exit 1"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #     start_period: 30s
  #   devices:
  #     - /dev/net/tun
  #   cap_add:
  #     - net_admin
  #     - sys_module
  #   environment:
  #     - TS_AUTH_ONCE=true
  #     - TS_ACCEPT_DNS=true
  #     - TS_USERSPACE=false
  #     - TS_ENABLE_HEALTH_CHECK=true
  #     - TS_ENABLE_METRICS=true
  #     - TS_AUTHKEY=${TAILSCALE_AUTH_KEY}
  #   volumes:
  #     - tailscale-config:/var/lib/tailscale
  #   logging:
  #     driver: loki
  #     options:
  #       loki-url: http://localhost:3100/loki/api/v1/push
  wolf:
    image: ghcr.io/games-on-whales/wolf:stable
    container_name: wolf-server
    restart: unless-stopped
    # network_mode: service:wolf-tailscale
    network_mode: host
    environment:
      - WOLF_RENDER_NODE=/dev/dri/renderD129
      - WOLF_ENCODER_NODE=/dev/dri/renderD128
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - wolf-configuration:/etc/wolf
      - /dev/:/dev/:rw
      - /run/udev:/run/udev:rw
    device_cgroup_rules:
      - 'c 13:* rmw'
    devices:
      - /dev/dri
      - /dev/uinput
      - /dev/uhid
volumes:
  tailscale-config:
  wolf-configuration:
