services:
  wolf:
    image: ghcr.io/games-on-whales/wolf:stable
    container_name: wolf-server
    restart: unless-stopped
    # network_mode: service:wolf-tailscale
    network_mode: host
    environment:
      - WOLF_RENDER_NODE=/dev/dri/renderD129
      - WOLF_ENCODER_NODE=/dev/dri/renderD128
      - WOLF_LOG_LEVEL=DEBUG
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - wolf-configuration:/etc/wolf
      - /dev/:/dev/:rw
      - /run/udev:/run/udev:rw
    device_cgroup_rules:
      - 'c 13:* rmw'
    devices:
      - /dev/dri
      - /dev/uinput
      - /dev/uhid
volumes:
  wolf-configuration:
