services:
  wolf:
    image: ghcr.io/games-on-whales/wolf:stable
    container_name: wolf-server
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - wolf-configuration:/etc/wolf
      - /dev/:/dev/:rw
      - /run/udev:/run/udev:rw
    device_cgroup_rules:
      - 'c 13:* rmw'
    devices:
      - /dev/dri
      - /dev/uinput
      - /dev/uhid
    network_mode: host
volumes:
  wolf-configuration:
