services:
  wolf:
    image: ghcr.io/games-on-whales/wolf:stable
    container_name: wolf-server
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - wolf-configuration:/etc/wolf
      - /dev/:/dev/:rw
      - /run/udev:/run/udev:rw
    device_cgroup_rules:
      - 'c 13:* rmw'
    devices:
      - /dev/dri
      - /dev/uinput
      - /dev/uhid
    networks:
      - core_traefik-public
    ports:
      - 47999:47999/tcp
      - 48010:48010/tcp
      - 48100:48100/udp
      - 48200:48200/udp
    labels:
      - traefik.enable=true
      - traefik.http.routers.wolf.rule=Host(`adam.${TS_DOMAIN_NAME}`)
      - traefik.http.routers.wolf.entrypoints=websecure
      - traefik.http.routers.wolf.tls=true
      - traefik.http.routers.wolf.tls.certresolver=cf-ts
      - traefik.http.services.wolf.loadbalancer.server.port=47999 # 47989
volumes:
  wolf-configuration:
networks:
  core_traefik-public:
    external: true
