services:
  socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: socket-proxy
    restart: unless-stopped
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=1
      - SERVICES=1
      - TASKS=1
      - NODES=1
      - SWARM=1
      - EVENTS=1
      - NETWORKS=1
    networks:
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    command: --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  # promtail:
  #   image: grafana/promtail:latest
  #   container_name: promtail
  #   restart: unless-stopped
  #   command: -config.file=/etc/promtail/config.yml
  #   volumes:
  #     - ./promtail.yml:/etc/promtail/config.yml:ro
  #     - /var/log:/var/log:ro

  #     - promtail-data:/var/lib/promtail
  #   networks:
  #     - default
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    command: -config.file=/etc/loki/loki.yml
    volumes:
      - ./loki.yml:/etc/loki/loki.yml:ro
      - loki-data:/loki
    networks:
      - default
    ports:
      - 3100:3100
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment: # Required if Grafana is running behind a reverse proxy
      GF_SERVER_ROOT_URL: https://monitoring.admin.${DOMAIN_NAME}
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - default
      - proxy_default
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.rule=Host(`monitoring.admin.${DOMAIN_NAME}`)
      - traefik.http.routers.grafana.entrypoints=websecure
      - traefik.http.routers.grafana.tls=true
      - traefik.http.routers.grafana.tls.certresolver=le
      - traefik.http.services.grafana.loadbalancer.server.port=3000
volumes:
  prometheus-data:
  promtail-data:
  loki-data:
  grafana-data:
networks:
  default:
  proxy_default:
    external: true
