server:
  http_listen_port: 3100
  grpc_listen_port: 9095

auth_enabled: false

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  max_transfer_retries: 0

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

limits_config:
  enforce_metric_name: false
  # adjust these for production; 0 disables rate limiting here
  ingestion_rate_mb: 0
  ingestion_burst_size_mb: 0

chunk_store_config:
  max_look_back_period: 0s

# Disable the ruler in this simple example; enable if you need alerting rules
ruler:
  enable_api: false